@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http 
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h1>Single Sign-In Enable!</h1>